<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <div class="container">
    <h1 class="display-4">Comic App</h1>
    <p class="lead">Esta es una aplicación de comics.</p>
    <div class="container">
      <p>Conceptos Angular utilizados en esta aplicación</p>
      <ul class="list-group">
          <li class="list-group-item" >Creación del proyecto utilizando CLI (Command Line Interface)</li>
          <li class="list-group-item">Instalación bootstrap</li>
          <li class="list-group-item">Creacion de rutas</li>
          <li class="list-group-item">Uso de RouterLink y RouterLinkActive para movernos de página</li>
          <li class="list-group-item">Uso del modulo Router</li>
          <li class="list-group-item">Obtención de parámetros via URL</li>
          <li class="list-group-item">Configuración servicio para el manejo de la data</li>
          <li class="list-group-item">Manejo de PIPE</li>
          <li class="list-group-item">Uso de @Input y @Output</li>
        </ul>
    </div>
  </div>
</div>
